.places-container {
    background-color: rgb(215, 239, 215);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 767px) {
    .places-container {
        grid-template-columns: 1fr;
    }
}
