.place {
    border: 1px solid darkgreen;
    background-color: rgba(0, 128, 0, 0.127);
    border-radius: 10px;
    margin: 1em;
    position: relative;
    min-height: 23em;
}
.place img {
    width: 100%;
    max-height: 60%;
    border-radius: 10px;
}
.place-items {
    padding: 0 10px;
}

h2,
h4,
p {
    margin: 10px 0;
}

.btn-select {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    border: 0;
    background-color: darkgreen;
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    font-weight: 500;
}
.btn-select:hover {
    background-color: green;
    font-weight: 600;
}
@media only screen and (max-width: 767px) {
    h2,
    h4,
    p {
        margin: 0;
    }
}
